<style>

    * {
        margin: 0;
        padding: 0;
    }

    header{
        width: 100vw;
        background-color: lightgreen;

    }

    .navbar{
        margin: auto;
        width: 70%;
        padding: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .nav-img .nav-vid .nav-file{
        background-color: lightgrey;
    }

</style>

<header>

    <nav class="navbar">
        <div class="nav-img">Imagens</div>
        <div class="nav-vid">Videos</div>
        <div class="nav-file">Arquivos</div>
    </nav>

</header>