<style>

    * {
        margin: 0;
        padding: 0;
    }

    header{
        width: 100vw;
        background-color: lightgreen;

    }

    .navbar{
        margin: auto;
        width: 70%;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .nav-img, .nav-vid, .nav-file{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-img:hover, .nav-vid:hover, .nav-file:hover{
        background-color: rgb(90, 192, 90);
    }

</style>

<header>

    <nav class="navbar">
        <div id="navImg" class="nav-img">Imagens</div>
        <div id="navVid" class="nav-vid">Videos</div>
        <div id="navFile" class="nav-file">Arquivos</div>
    </nav>

</header>