<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Armazenamento de dados</title>
</head>

<body>

    <%- include ("./partials/nav") %>



    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" class="file" onchange="getFileData(this)">
        <input type="submit" value="Upload">
    </form>


<script src="getFile.js"></script>

</body>

</html>